// COLORS
$ebonics: #f0f0f0;
$blue-doublet: #181860;
$gorgeous: #f0d8d8;
$memoir: #c0a8c0;
$manga-lavender: #a8a8c0;

// CONSTANTS
$border-radius: 1.5rem;
$general-size: 64px;

$small-gap: 0.45rem;
$large-gap: 1.2rem;

$full-padding: $large-gap $small-gap;

$title-size: 2.2rem;
$title-weight: 600;
$title-line-height: $title-size + 0.1rem;

$content-size: 1.2rem;
$content-weight: 400;
$content-line-height: $content-size + 0.1rem;

$medium-breakpoint: 900px;
$small-breakpoint: 600px;
$extra-small-breakpoint: 350px;
