// COLORS
$ebonics: #f0f0f0;
$blue-doublet: #181860;
$gorgeous: #f0d8d8;
$memoir: #c0a8c0;
$manga-lavender: #a8a8c0;
$black: #232323;
$white: #fff;

// CONSTANTS
$border-radius: 1.5rem;
$general-size: 64px;

$large-gap: 1.2rem;

$content-size: 1.2rem;
$content-weight: 400;
$content-line-height: $content-size + 0.1rem;

$large-breakpoint: 1500px;
$medium-breakpoint: 900px;
$small-breakpoint: 650px;
$extra-small-breakpoint: 350px;

@mixin make-content-size($offset: 0, $weight-offset: 0) {
  font-size: $content-size - $offset;
  font-weight: $content-weight - $weight-offset;
  line-height: $content-line-height - $offset;
}
